In [ ]:
# ============================================
# ğŸ§Š Titanic ç”Ÿå­˜äºˆæ¸¬ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆ
# Author: k-ohyeah
# Date: 2025-10-07
# Model: Logistic Regression + Feature Engineering
# ============================================

# ç›®çš„ï¼š
# Titanicãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã‚’ç”¨ã„ã¦ã€ç”Ÿå­˜è€…ã‚’äºˆæ¸¬ã™ã‚‹åˆ†é¡ãƒ¢ãƒ‡ãƒ«ã‚’ä½œæˆã™ã‚‹ã€‚
# ãƒ‡ãƒ¼ã‚¿ç†è§£ â†’ å‰å‡¦ç† â†’ ç‰¹å¾´é‡ã‚¨ãƒ³ã‚¸ãƒ‹ã‚¢ãƒªãƒ³ã‚° â†’ ãƒ¢ãƒ‡ãƒ«æ§‹ç¯‰ â†’ ãƒãƒ¥ãƒ¼ãƒ‹ãƒ³ã‚° â†’ è©•ä¾¡ ã®æµã‚Œã§é€²ã‚ã‚‹ã€‚

# æ‰‹é †æ¦‚è¦ï¼š
# 1. ãƒ‡ãƒ¼ã‚¿ã®ç¢ºèªãƒ»å¯è¦–åŒ–
# 2. å‰å‡¦ç†ï¼ˆæ¬ æè£œå®Œã€ã‚«ãƒ†ã‚´ãƒªå‡¦ç†ãªã©ï¼‰
# 3. ç‰¹å¾´é‡ã‚¨ãƒ³ã‚¸ãƒ‹ã‚¢ãƒªãƒ³ã‚°ï¼ˆTitleä½œæˆã€FamilySizeãªã©ï¼‰
# 4. ãƒ¢ãƒ‡ãƒ«æ§‹ç¯‰ï¼ˆãƒ­ã‚¸ã‚¹ãƒ†ã‚£ãƒƒã‚¯å›å¸°ï¼‰
# 5. ãƒ¢ãƒ‡ãƒ«æ¯”è¼ƒã¨ãƒãƒ¥ãƒ¼ãƒ‹ãƒ³ã‚°ï¼ˆGridSearchCVï¼‰
# 6. æœ€çµ‚è©•ä¾¡ã¨æå‡ºãƒ‡ãƒ¼ã‚¿ä½œæˆ

In [19]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [20]:
#ãƒ©ã‚¤ãƒ–ãƒ©ãƒªèª­ã¿è¾¼ã¿
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

#ãƒ‡ãƒ¼ã‚¿èª­ã¿è¾¼ã¿
train = pd.read_csv("/kaggle/input/titanic/train.csv") 
test= pd.read_csv("/kaggle/input/titanic/test.csv")

raw_test=test

print("trainãƒ‡ãƒ¼ã‚¿")
print(train.head())

print("testãƒ‡ãƒ¼ã‚¿")
print(test.head())

trainãƒ‡ãƒ¼ã‚¿
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
testãƒ‡ãƒ¼ã‚¿
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [21]:
#æ¬ æå€¤ãƒã‚§ãƒƒã‚¯


print("trainãƒ‡ãƒ¼ã‚¿ä»¶æ•°:", len(train)) 
print() #æ”¹è¡Œ
print("å„åˆ—ã®æ¬ ææ•°:")
print(train.isnull().sum())

print() #æ”¹è¡Œ

print("testãƒ‡ãƒ¼ã‚¿ä»¶æ•°:", len(test)) 
print() #æ”¹è¡Œ
print("å„åˆ—ã®æ¬ ææ•°:")
print(test.isnull().sum())

trainãƒ‡ãƒ¼ã‚¿ä»¶æ•°: 891

å„åˆ—ã®æ¬ ææ•°:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

testãƒ‡ãƒ¼ã‚¿ä»¶æ•°: 418

å„åˆ—ã®æ¬ ææ•°:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [22]:
#è¿½åŠ å‰å‡¦ç†ï¼ˆTitleè¿½åŠ ã€å¹´é½¢æ¬ æå€¤è£œå®Œæ–¹æ³•ã®å¤‰æ›´ï¼‰

# åå‰ã‹ã‚‰ã‚¿ã‚¤ãƒˆãƒ«ã‚’æŠ½å‡º
train['Title'] = train['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
test['Title'] = test['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# å„ã‚¿ã‚¤ãƒˆãƒ«ã®å‡ºç¾å›æ•°ã‚’ç¢ºèª
print("=== Title counts (Train) ===")
print(train['Title'].value_counts())
print("\n=== Title counts (Test) ===")
print(test['Title'].value_counts())

# ã‚¿ã‚¤ãƒˆãƒ«ã”ã¨ã®ç”Ÿå­˜ç‡ã‚’ç¢ºèª
train.groupby('Title')['Survived'].mean().sort_values(ascending=False)

=== Title counts (Train) ===
Title
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: count, dtype: int64

=== Title counts (Test) ===
Title
Mr        240
Miss       78
Mrs        72
Master     21
Col         2
Rev         2
Ms          1
Dr          1
Dona        1
Name: count, dtype: int64

Title
Sir         1.000000
Countess    1.000000
Ms          1.000000
Mme         1.000000
Lady        1.000000
Mlle        1.000000
Mrs         0.792000
Miss        0.697802
Master      0.575000
Col         0.500000
Major       0.500000
Dr          0.428571
Mr          0.156673
Jonkheer    0.000000
Don         0.000000
Rev         0.000000
Capt        0.000000
Name: Survived, dtype: float64

In [23]:
#è¿½åŠ å‰å‡¦ç†ï¼ˆTitleè¿½åŠ ã€å¹´é½¢æ¬ æå€¤è£œå®Œæ–¹æ³•ã®å¤‰æ›´ï¼‰

# Nameåˆ—ã‹ã‚‰Titleï¼ˆæ•¬ç§°ï¼‰ã‚’æŠ½å‡º 
train['Title'] = train['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
test['Title'] = test['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# === ã‚¿ã‚¤ãƒˆãƒ«ã®ã‚°ãƒ«ãƒ¼ãƒ”ãƒ³ã‚° ===
# ä¸»ãª4ã‚¿ã‚¤ãƒˆãƒ«ã¯ãã®ã¾ã¾ä½¿ç”¨ï¼ˆMr, Miss, Mrs, Masterï¼‰
# ãã‚Œä»¥å¤–ã‚’ Rare ã«ã¾ã¨ã‚ã‚‹

rare_titles = [
    'Dr', 'Rev', 'Col', 'Major', 'Capt', 'Countess', 
    'Lady', 'Sir', 'Don', 'Jonkheer', 'Mme', 'Mlle', 'Ms', 'Dona'
]

# ã‚¿ã‚¤ãƒˆãƒ«å¤‰æ›ãƒãƒƒãƒ—
title_map = {t: 'Rare' for t in rare_titles}
# Miss / Mrs ç³»ã‚’ã¾ã¨ã‚ã¦èª¿æ•´ï¼ˆMlleâ†’Missã€Mmeâ†’Mrsã¯Rareã‚ˆã‚Šå‰ã«å‡¦ç†ï¼‰
title_map.update({'Mlle': 'Miss', 'Ms': 'Miss', 'Mme': 'Mrs'})

# å¤‰æ›ã‚’é©ç”¨
train['Title'] = train['Title'].replace(title_map)
test['Title'] = test['Title'].replace(title_map)

# ã‚¿ã‚¤ãƒˆãƒ«ã®åˆ†å¸ƒç¢ºèª
print("--- trainãƒ‡ãƒ¼ã‚¿ ---")
print(train['Title'].value_counts())
print("\n--- testãƒ‡ãƒ¼ã‚¿ ---")
print(test['Title'].value_counts())

--- trainãƒ‡ãƒ¼ã‚¿ ---
Title
Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: count, dtype: int64

--- testãƒ‡ãƒ¼ã‚¿ ---
Title
Mr        240
Miss       79
Mrs        72
Master     21
Rare        6
Name: count, dtype: int64

In [24]:
#è¿½åŠ å‰å‡¦ç†ï¼ˆTitleè¿½åŠ ã€å¹´é½¢æ¬ æå€¤è£œå®Œæ–¹æ³•ã®å¤‰æ›´ï¼‰

# ã‚¿ã‚¤ãƒˆãƒ«ã”ã¨ã®å¹´é½¢ä¸­å¤®å€¤ã‚’ç¢ºèª
print(train.groupby('Title')['Age'].median())

# ã‚¿ã‚¤ãƒˆãƒ«ã”ã¨ã®å¹´é½¢ä¸­å¤®å€¤ã§æ¬ æã‚’è£œå®Œ
for dataset in [train, test]:
    dataset['Age'] = dataset['Age'].fillna(
        dataset.groupby('Title')['Age'].transform('median')
    )


# ç¢ºèª
print(train['Age'].isnull().sum(), test['Age'].isnull().sum())

Title
Master     3.5
Miss      21.0
Mr        30.0
Mrs       35.0
Rare      48.5
Name: Age, dtype: float64
0 0

In [25]:
#è¿½åŠ å‰å‡¦ç†ï¼ˆTitleè¿½åŠ ã€å¹´é½¢æ¬ æå€¤è£œå®Œæ–¹æ³•ã®å¤‰æ›´ï¼‰

# One-Hotã‚¨ãƒ³ã‚³ãƒ¼ãƒ‡ã‚£ãƒ³ã‚°ï¼ˆãƒ€ãƒŸãƒ¼å¤‰æ•°åŒ–ï¼‰
train = pd.get_dummies(train, columns=['Title'], drop_first=True, dtype=int)
test = pd.get_dummies(test, columns=['Title'], drop_first=True, dtype=int)

print("trainãƒ‡ãƒ¼ã‚¿")
print(train.head())

print("testãƒ‡ãƒ¼ã‚¿")
print(test.head())

trainãƒ‡ãƒ¼ã‚¿
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Title_Miss  Title_Mr  \
0      0         A/5 21171   7.2500   NaN        S           0         1
1      0          PC 17599  71.2833   C85        C           0         0
2      0  STON/O2. 3101282   7.9250   NaN        S           1         0
3      0            113803  53.1000  C123        S           0         0
4      0            373450   8.0500   NaN        S           0         1

   Title_Mrs  Title_Rare
0          0           0
1          1           0
2          0           0
3          1           0
4          0           0
testãƒ‡ãƒ¼ã‚¿
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked  Title_Miss  Title_Mr  \
0  34.5      0      0   330911   7.8292   NaN        Q           0         1
1  47.0      1      0   363272   7.0000   NaN        S           0         0
2  62.0      0      0   240276   9.6875   NaN        Q           0         1
3  27.0      0      0   315154   8.6625   NaN        S           0         1
4  22.0      1      1  3101298  12.2875   NaN        S           0         0

   Title_Mrs  Title_Rare
0          0           0
1          1           0
2          0           0
3          0           0
4          1           0

In [26]:
#trainå‰å‡¦ç†

#æ¬ æå€¤è£œå®Œ

# Embarked ã®æ¬ æã‚’æœ€é »å€¤ã§è£œå®Œ
train['Embarked'] = train['Embarked'].fillna(train['Embarked'].mode()[0])

# Fare ã®æ¬ æã‚’ä¸­å¤®å€¤ã§è£œå®Œ
train['Fare'] = train['Fare'].fillna(train['Fare'].median())

# Cabin â†’ æ¬ æãŒå¤šã™ãã‚‹ã®ã§ã€Œæœ‰ç„¡ãƒ•ãƒ©ã‚°ã€ã‚’ä½œæˆ
train['Cabin_flag'] = train['Cabin'].notnull().astype(int) 

#ç‰¹å¾´é‡è¿½åŠ 

# å®¶æ—äººæ•° = åŒä¹—ã®å…„å¼Ÿ/é…å¶è€… (SibSp) + è¦ª/å­ (Parch) + è‡ªåˆ†1äºº
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1

train['Age*Class'] = train['Age'] * train['Pclass']

train['Fare_per_person'] = train['Fare'] / (train['FamilySize'])
#Titanicãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®  ã¯ ãƒã‚±ãƒƒãƒˆå˜ä½ã®åˆè¨ˆé‹è³ƒ ã‚’è¡¨ã—ã¦ã„ã¾ã™ã€‚

train['IsAlone'] = (train['FamilySize'] == 1).astype(int)
#train["FamilySize"] == 1

#ä¸è¦åˆ—å‰Šé™¤

cols_to_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin']  # Cabinã¯ãƒ•ãƒ©ã‚°ä½œæˆæ¸ˆã¿ãªã®ã§æœ¬ä½“ã¯å‰Šé™¤
train = train.drop(columns=cols_to_drop)

#ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°ã®ã‚¨ãƒ³ã‚³ãƒ¼ãƒ‡ã‚£ãƒ³ã‚°

from sklearn.preprocessing import LabelEncoder

# Sexã‚’0,1ã«å¤‰æ›
le = LabelEncoder()
train['Sex'] = le.fit_transform(train['Sex'])

# Embarkedã‚’One-Hot
train = pd.get_dummies(train, columns=['Embarked'], drop_first=True, dtype=int)

#è£œå®Œå¾Œã®æ¤œæŸ»

print("trainãƒ‡ãƒ¼ã‚¿ä»¶æ•°:", len(train)) #ãƒ‡ãƒ¼ã‚¿ã® è¡Œæ•°ï¼ˆè¦³æ¸¬æ•°ï¼‰
print() #æ”¹è¡Œ

print("å„åˆ—ã®æ¬ ææ•°(è£œå®Œå¾Œ):")
print(train.isnull().sum())
print() #æ”¹è¡Œ

print(train.head())

trainãƒ‡ãƒ¼ã‚¿ä»¶æ•°: 891

å„åˆ—ã®æ¬ ææ•°(è£œå®Œå¾Œ):
Survived           0
Pclass             0
Sex                0
Age                0
SibSp              0
Parch              0
Fare               0
Title_Miss         0
Title_Mr           0
Title_Mrs          0
Title_Rare         0
Cabin_flag         0
FamilySize         0
Age*Class          0
Fare_per_person    0
IsAlone            0
Embarked_Q         0
Embarked_S         0
dtype: int64

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Title_Miss  Title_Mr  \
0         0       3    1  22.0      1      0   7.2500           0         1
1         1       1    0  38.0      1      0  71.2833           0         0
2         1       3    0  26.0      0      0   7.9250           1         0
3         1       1    0  35.0      1      0  53.1000           0         0
4         0       3    1  35.0      0      0   8.0500           0         1

   Title_Mrs  Title_Rare  Cabin_flag  FamilySize  Age*Class  Fare_per_person  \
0          0           0           0           2       66.0          3.62500
1          1           0           1           2       38.0         35.64165
2          0           0           0           1       78.0          7.92500
3          1           0           1           2       35.0         26.55000
4          0           0           0           1      105.0          8.05000

   IsAlone  Embarked_Q  Embarked_S
0        0           0           1
1        0           0           0
2        1           0           1
3        0           0           1
4        1           0           1

In [27]:
#testå‰å‡¦ç†

#æ¬ æå€¤è£œå®Œ

# Embarked ã®æ¬ æã‚’æœ€é »å€¤ã§è£œå®Œ
test['Embarked'] = test['Embarked'].fillna(test['Embarked'].mode()[0])

# Fare ã®æ¬ æã‚’ä¸­å¤®å€¤ã§è£œå®Œ
test['Fare'] = test['Fare'].fillna(test['Fare'].median())

# Cabin â†’ æ¬ æãŒå¤šã™ãã‚‹ã®ã§ã€Œæœ‰ç„¡ãƒ•ãƒ©ã‚°ã€ã‚’ä½œæˆ
test['Cabin_flag'] = test['Cabin'].notnull().astype(int) 

#ç‰¹å¾´é‡è¿½åŠ 

# å®¶æ—äººæ•° = åŒä¹—ã®å…„å¼Ÿ/é…å¶è€… (SibSp) + è¦ª/å­ (Parch) + è‡ªåˆ†1äºº
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

test['Age*Class'] = test['Age'] * test['Pclass']

test['Fare_per_person'] = test['Fare'] / (test['FamilySize'])
#Titanicãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®  ã¯ ãƒã‚±ãƒƒãƒˆå˜ä½ã®åˆè¨ˆé‹è³ƒ ã‚’è¡¨ã—ã¦ã„ã¾ã™ã€‚

test['IsAlone'] = (test['FamilySize'] == 1).astype(int)
#test[""FamilySize""] == 1

#ä¸è¦åˆ—å‰Šé™¤

cols_to_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin']  # Cabinã¯ãƒ•ãƒ©ã‚°ä½œæˆæ¸ˆã¿ãªã®ã§æœ¬ä½“ã¯å‰Šé™¤
test = test.drop(columns=cols_to_drop)

#ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°ã®ã‚¨ãƒ³ã‚³ãƒ¼ãƒ‡ã‚£ãƒ³ã‚°

from sklearn.preprocessing import LabelEncoder

# Sexã‚’0,1ã«å¤‰æ›
le = LabelEncoder()
test['Sex'] = le.fit_transform(test['Sex'])

# Embarkedã‚’One-Hot
test = pd.get_dummies(test, columns=['Embarked'], drop_first=True, dtype=int)

#è£œå®Œå¾Œã®æ¤œæŸ»

print("testãƒ‡ãƒ¼ã‚¿ä»¶æ•°:", len(test)) #ãƒ‡ãƒ¼ã‚¿ã® è¡Œæ•°ï¼ˆè¦³æ¸¬æ•°ï¼‰
print() #æ”¹è¡Œ

print("å„åˆ—ã®æ¬ ææ•°(è£œå®Œå¾Œ):")
print(test.isnull().sum())
print() #æ”¹è¡Œ

print(test.head())

testãƒ‡ãƒ¼ã‚¿ä»¶æ•°: 418

å„åˆ—ã®æ¬ ææ•°(è£œå®Œå¾Œ):
Pclass             0
Sex                0
Age                0
SibSp              0
Parch              0
Fare               0
Title_Miss         0
Title_Mr           0
Title_Mrs          0
Title_Rare         0
Cabin_flag         0
FamilySize         0
Age*Class          0
Fare_per_person    0
IsAlone            0
Embarked_Q         0
Embarked_S         0
dtype: int64

   Pclass  Sex   Age  SibSp  Parch     Fare  Title_Miss  Title_Mr  Title_Mrs  \
0       3    1  34.5      0      0   7.8292           0         1          0
1       3    0  47.0      1      0   7.0000           0         0          1
2       2    1  62.0      0      0   9.6875           0         1          0
3       3    1  27.0      0      0   8.6625           0         1          0
4       3    0  22.0      1      1  12.2875           0         0          1

   Title_Rare  Cabin_flag  FamilySize  Age*Class  Fare_per_person  IsAlone  \
0           0           0           1      103.5         7.829200        1
1           0           0           2      141.0         3.500000        0
2           0           0           1      124.0         9.687500        1
3           0           0           1       81.0         8.662500        1
4           0           0           3       66.0         4.095833        0

   Embarked_Q  Embarked_S
0           1           0
1           0           1
2           1           0
3           0           1
4           0           1

In [28]:
#èª¬æ˜å¤‰æ•°ã¨ç›®çš„å¤‰æ•°ã«åˆ†ã‘ã‚‹

X = train.drop("Survived", axis=1)  # èª¬æ˜å¤‰æ•°
y = train["Survived"]               # ç›®çš„å¤‰æ•°

#å­¦ç¿’ãƒ‡ãƒ¼ã‚¿ã¨æ¤œè¨¼ãƒ‡ãƒ¼ã‚¿ã«åˆ†å‰²ã™ã‚‹

from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)


# å½¢ã¨å‹ã®ç¢ºèª
print("X shape:", X.shape)
print("X_train shape:", X_train.shape, "X_val shape:", X_val.shape)
print("y_train mean (survival rate):", y_train.mean())
print("y_val mean (survival rate):", y_val.mean())

# ã‚‚ã— object å‹ãŒæ®‹ã£ã¦ã„ãŸã‚‰è¡¨ç¤º
print("\nColumn dtypes:\n", X.dtypes.value_counts())
print("\nObject columns:", [c for c in X.columns if X[c].dtype == 'object'])

X shape: (891, 17)
X_train shape: (623, 17) X_val shape: (268, 17)
y_train mean (survival rate): 0.38362760834670945
y_val mean (survival rate): 0.3843283582089552

Column dtypes:
 int64      13
float64     4
Name: count, dtype: int64

Object columns: []

In [29]:
#GridSearchCVã§ãƒ­ã‚¸ã‚¹ãƒ†ã‚£ãƒƒã‚¯å›å¸°

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score


# ãƒã‚¤ãƒ‘ãƒ¼ãƒ‘ãƒ©ãƒ¡ãƒ¼ã‚¿ã®å€™è£œ
param_grid = {
    'C': [0.01, 0.1, 1, 10, 100],   # æ­£å‰‡åŒ–ã®å¼·ã•
    'penalty': ['l1', 'l2'],        # æ­£å‰‡åŒ–ã®ç¨®é¡
    'solver': ['liblinear']         # solverã¯liblinearãŒl1å¯¾å¿œ
}

# ãƒ¢ãƒ‡ãƒ«ä½œæˆ
log_reg = LogisticRegression(max_iter=1000)

# GridSearchCVã®è¨­å®š
grid_search = GridSearchCV(
    estimator=log_reg,
    param_grid=param_grid,
    scoring='roc_auc',   # ROC-AUCã§è©•ä¾¡
    cv=5,                # 5åˆ†å‰²äº¤å·®æ¤œè¨¼
    n_jobs=-1            # ä¸¦åˆ—å®Ÿè¡Œ
)

# å­¦ç¿’
grid_search.fit(X_train, y_train)

# ãƒ™ã‚¹ãƒˆãªãƒ‘ãƒ©ãƒ¡ãƒ¼ã‚¿ã¨ã‚¹ã‚³ã‚¢
print("Best Parameters:", grid_search.best_params_)
print("Best CV Score:", grid_search.best_score_)

# ãƒãƒªãƒ‡ãƒ¼ã‚·ãƒ§ãƒ³ãƒ‡ãƒ¼ã‚¿ã§äºˆæ¸¬ã—ã¦ç¢ºèª
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_val)
probas = best_model.predict_proba(X_val)[:,1]

print("Validation Accuracy:", accuracy_score(y_val, y_pred))
print("Validation ROC AUC:", roc_auc_score(y_val, probas))

Best Parameters: {'C': 1, 'penalty': 'l1', 'solver': 'liblinear'}
Best CV Score: 0.8677818291497603
Validation Accuracy: 0.8208955223880597
Validation ROC AUC: 0.8692262430126507

In [30]:
# testãƒ‡ãƒ¼ã‚¿ã®å‰å‡¦ç†ï¼ˆtrainã¨åŒã˜å‡¦ç†ã‚’é©ç”¨ã—ã¦ãŠãã“ã¨ï¼ï¼‰
X_test = test  # å‰å‡¦ç†æ¸ˆã¿

# äºˆæ¸¬
test_pred = best_model.predict(X_test)

# æå‡ºç”¨ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ 
submission = pd.DataFrame({
    'PassengerId': raw_test['PassengerId'],
    'Survived': test_pred
})

# CSVä¿å­˜
submission.to_csv("submission_20251007_title_update.csv", index=False)